<form [formGroup]="phongForm" (ngSubmit)="saveParams()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Parametry</mat-card-title>
      <mat-card-subtitle>Podaj parametry i zatwierdź</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width-control">
        <input matInput type="number" placeholder="Natężenie światła otoczenia" formControlName="ia">
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput type="number" placeholder="Natężenie światła punktowego" formControlName="ip">
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput type="number" placeholder="Współczynnik odbicia światła otoczenia" formControlName="ka">
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput type="number" placeholder="Współczynnik odbicia światła kierunkowego" formControlName="ks">
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput type="number" placeholder="Współczynnik odbicia światła rozproszonego" formControlName="kd">
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput type="number" placeholder="Współczynnik tłumienia źródła z odległością" formControlName="c">
      </mat-form-field>
      <mat-form-field class="full-width-control">
        <input matInput type="number" placeholder="Współczynnik gładkości powierzchni" formControlName="n">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="phongForm.invalid">
        Zatwierdź
      </button>
    </mat-card-actions>
  </mat-card>
</form>
