<mat-grid-list cols="4" rows="1" [rowHeight]='"fit"'>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Oświetlenie</mat-card-title>
        <mat-card-subtitle>Model oświetlenia Phonga</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <gk-canvas [screen]="screen"></gk-canvas>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <gk-phong-params-form (phongParams)="changeParams($event)" class="card-content"></gk-phong-params-form>
  </mat-grid-tile>
</mat-grid-list>
